<a [routerLink]="['/restaurant', iRestaurant.id]">
  <div class="place-info-box">
    <span class="place-info-box-icon"><img [src]="iRestaurant.imagePath" /></span>

    <div class="place-info-box-content">
      <span class="place-info-box-text">{{iRestaurant.name}}</span>
      <span class="place-info-box-star"><i class="fa fa-star"></i>{{iRestaurant.rating}}</span>
      <span class="place-info-box-detail">{{iRestaurant.category}}</span>
      <span class="place-info-box-detail">{{iRestaurant.deliveryEstimate}}</span>
    </div>
    <!-- /.info-box-content -->
  </div>
</a>